* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



:root {
    font-size: 62.5%;
}

#page {
    max-width: 1200px;
    margin-inline: auto;

}

body {
    font-size: 1.6rem;
    background: oklch(37.982% 0.06324 168.374);
    color: #fff;
}

header {
    padding-block: 2rem;
    text-align: center;
}

fieldset {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    
    input{
        display: block;
        margin-top: .6rem;
        padding: .7rem;
        border-radius: 1rem;
        border: none;
        color: #000000;
    }

    input:focus {
        outline:2px solid oklch(62.977% 0.10494 198.146);

    }


    div {
        margin-bottom: 1rem;
    }

    input[type=file]{
        color:#ffffff;
    }

    input[type=checkbox],
    input[type=radio]{
        display: inline-block;
        outline: none;
    }
}

fieldset:nth-of-type(2)>div{
    margin-bottom: 2rem;

    h2{
        margin-bottom: 1rem;
    }

    textarea {
        display:block;
        margin-top: 1rem;
        border-radius: 1rem;
        border: none;
        padding: 1rem;
        resize: none;
    }

    textarea:focus {
        outline:2px solid oklch(69.6% 0.17 162.48);
    }

    select {
        padding: .8rem;
        border-radius: 1rem;
        border: none;
        outline: none;
    }
}

button{
    margin-bottom:2rem;
    padding: .6rem 1rem;
    background: oklch(59.6% 0.145 163.225);
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-weight: 700;
    font-size:1.6rem;
}

button:hover{
    background: oklch(69.6% 0.17 162.48);
   transition: ease-in-out .4s;
   cursor:pointer;

}

@media(max-width: 76.8rem){
    #page {
        padding-inline: 2rem;
    }
}